<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref = "" >
         
      </ion-back-button> -->
    </ion-buttons>
    <ion-title>offices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button expand ="block" routerLink="/president">Presidential</ion-button>
    <ion-button expand ="block" routerLink="/feedback">Feedback Form</ion-button>
    <ion-button expand ="block" routerLink="/governor">Gubernatorial</ion-button>
    <ion-button expand ="block" routerLink="/senator">Senatorial</ion-button>

</ion-content>
