<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle><h3>Welcome</h3></ion-card-subtitle>
        <ion-card-title>We bring you enlightening information about your current leaders, aspirants of varying positions to aid you in voting wisely</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that you know what we are about, push the button below</p>
      </ion-card-content>
    </ion-card>

    <ion-button color = "success" expand = "block" href="/offices">Know Your Leaders</ion-button>

</ion-content>
